.presentacion__certificado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    gap: 82px;
}

.presentacion__contenido__certificado {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__imagen__certificado {
    width: 50%;
}

@media (max-width: 1200px) {
    .presentacion__certificado {
        flex-direction: column-reverse;
        padding: 5%;
    }
}